<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="~/css/app.css" rel="stylesheet" />

</head>
<body class="@ViewData["BodyClass"]">
    @if (!ViewData.ContainsKey("HideNav"))
    {
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Hackland.AccessControl</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item @(Context.Request.Path.Value == "/" ? "active" : null)">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item @(Context.Request.Path.Value == "/door" ? "active" : null)">
                            <a class="nav-link" href="/door">Doors</a>
                        </li>
                        <li class="nav-item @(Context.Request.Path.Value == "/person" ? "active" : null)">
                            <a class="nav-link" href="/person">People</a>
                        </li>
                        <li class="nav-item @(Context.Request.Path.Value == "/user" ? "active" : null)">
                            <a class="nav-link" href="/user">Users</a>
                        </li>
                        @*<li class="nav-item @(Context.Request.Path.Value.StartsWith("/reports") ? "active" : null)">
            <a class="nav-link" href="/reports">Reports</a>
        </li>*@
                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    }
    <main class="container">
        <div class="page-body">
            @RenderBody()
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2/dist/bootstrap-confirmation.min.js"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>